<%- include("partials/header") %> 

<div class = "ui main text container segment">
    <h2>About Me</h2>
    <img id = "aboutImage" src= "/images/medha.jpg"/><br><br>
    <p> I believe in finding gratitude, joy, love, and positivity, every day.<br>
        What you put out, you will get back.<br>
        
        I believe in love. I believe everything we do and say should come from a place of love. Our responses should be from love. How we relate to others should be from love. What you put out, you will get back.<br>
        
        I believe in energy and paying attention to the energy that every thing and everyone has.<br>
        
        I believe in creating space in our lives for something else that needs to come into our lives and for things we want to come into our lives.<br>
        
        I believe that everyone has the ability to be happy in their life.<br>
        
        I believe that we create our own happiness.<br><br>
        <a href= "https://www.instagram.com/medhashreyashi/?hl=en"><i id = "insta" class="instagram icon"></i></a>
        <a href = "https://www.linkedin.com/in/medha-shreyashi/"><i id="linked" class="linkedin icon"></i></a>
        <a href = "https://www.facebook.com/medha.shreyashi.9"><i id = "fb" class="facebook icon"></i></a>
        <a href= "https://github.com/medha37"><i id = "git" class="github icon"></i></a> 
        <i id = "whatsapp" class="whatsapp square icon"></i> 
        
        </p>
</div>

<%- include("partials/footer") %> 